
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    margin: 10px;
    width: 200px;
    height: auto;
    cursor: pointer;
}